@model MobileInfo.Models.Mobile
@{
	ViewBag.Title = "ALoggedIn";
}


<li><a @Html.ActionLink("Brands List", "BIndex", "Admin")</a></li>

<li><a @Html.ActionLink("Mobile list", "MIndex", "Admin")</a></li>

<li><a @Html.ActionLink("Pictures list", "PIndex", "Admin")</a></li>
<li><a @Html.ActionLink("Pictures list", "PIndex", "Admin")</a></li>