@model MobileInfo.Models.Mobile
@{
	ViewBag.Title = "ALoggedIn";
}

<li><a @Html.ActionLink("Add Brands", "RegisterBrand", "Admin")</a></li>
<li><a @Html.ActionLink("Brands List", "BIndex", "Admin")</a></li>
<li><a @Html.ActionLink("Add mobile", "RegisterMobile", "Admin")</a></li>
<li><a @Html.ActionLink("Mobile list", "MIndex", "Admin")</a></li>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />